<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <style>

body{
  background-image: url('static/bg.png');
  background-position-y: 45px;
  background-position-x: 220px;
  background-repeat: no-repeat;
  background-size: 70%;
  
  
}

h1{
  color: white; 
  background-color: red;
}

    </style>
  </head>
  <body >
    <nav>
      <ul>
        <li><a  href="userloginpage">LOGIN</a></li>
        <li><a  href="userregisterpage">REGISTER</a></li>
        <li><a href="#" class="active">HOME</a></li>
        <li style="float: left;" >
          <a href="#" style="color: #ffffff; font-size: 20px; ">BRAIN STROKE PREDICTION</a></li>
        
       
      </ul>
    </nav>


    
    </div>
  </body>
</html>